@mixin cool-label {
  font-size: 0.7em;
  background: #efefef;
  padding: 1px;

  border: 1px dotted #ffffff;
  //position: absolute;


}


form.rjsf {
  display: block;

  width: 100%;
}

fieldset {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

input[type="number"] {
  max-width: 40px;
}

textarea {
  display: flex;
}

.input,
.form-group {
  position: relative;

}
.input {
  display: flex;
  flex-direction: column;
}
.form-group {
  display: flex;
  flex-direction: column;

  label {
    order: 4;
  }

  .checkbox label {
    background: transparent;
  }
}

.field-description {
  font-size: 0.7em;
  color: #666;
  margin: 0px;
}

.input label,
.form-group label {
  @include cool-label;
}

.checkbox label,
.field-boolean label {
  position: relative;
}

.field-object .field-object .checkbox label span {
  display: flex;
}

.checkbox label span {
  display: none;
}

legend {
  font-size: 0.7em;
  background: #efefef;
  padding: 1px;
  /* margin-top: -5px; */
  border: 1px dotted #ffffff;

}