span.bullet {
    border: 1px solid #000;
    border-radius: 100%;
    width: .7em;
    height: .7em;
  
    display: flex;
}
.status-offline {
    background: #fe4a4a;
}
.status-online {
    background: #4afe4a;
}
.api-status {
    display: flex;
    align-items: center;
   
    font-size: .7em;
}