
.tab-buttons {
  display: flex;
  cursor: pointer;
  list-style-type: none;
}
.tab-buttons li {
  padding: 10px;
  border: 1px solid #ccc;
  border-bottom: none;
  list-style-type: none;
  margin: 0;
}
.tab-buttons li a {
  text-decoration: none;
  color: var(--accent-color);

}
.tab-buttons li a:hover {
  color: darken(var(--accent-color), 10%);
} 
.tab-buttons li.active {
  background-color: #ddd;
}
